.box-container.left {
  width: 0;
}

.box-container.right {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .box-container.left,
  .box-container.right {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  #sc-player {
    width: 100vw !important;
  }
}
